@tailwind base;
@tailwind components;
@tailwind utilities;

/* roboto font family from google fony */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;


}



.logo {
  @apply text-white text-4xl
}

.btn {
  @apply text-white text-xl py-2 px-6 bg-blue-500 border border-blue-500 outline-none rounded-full shadow
}

.sidebar {
  border-right: 1px solid rgb(51, 50, 50);
}

.search-bar {
  border-left: 1px solid rgb(51, 50, 50);
}

.tweet-area {
  border-bottom: 1px solid rgb(51, 50, 50);
}

.tweeets {
  border-bottom: 1px solid rgb(51, 50, 50);
}


.tweet-area ::placeholder
 {
  color: rgb(122, 122, 121);
  font-size: 1rem;

}


.search-section ::placeholder{
  color: rgb(201, 201, 192);
  font-size: 1rem;
  padding-left: 2.5rem;
}

.search-btn .search-logo{
  color: rgb(201, 201, 192);
}

.wrapper{
  height: 100vh;
}